---
tags: pages
pagination:
    alias: album
    data: releases
    size: 1
    addAllPagesToCollections: true
permalink: /release/{{ album.spotifyId }}/index.html
eleventyComputed:
    title: "{{{ album.artist }}} - {{{ album.album }}}"
    artist: "{{{ album.artist }}}"
    release: "{{{ album.album }}}"
    rating: "{{ album.rating }}"
    artwork: "{{ album.artwork }}"
---
<div class="h-full w-full">
    <div class="h-full w-full flex flex-col">
        <div class="flex flex-0 text-2xl font-semibold">{{ title }}</div>
        {{#if album.rating}}
        <div class="flex flex-0 items-center my-2">
            {{#if album.releaseType}}
            <sl-tag class="inline-block mr-2" type="{{#if (eq album.releaseType "album")}}danger{{/if}}{{#if (eq album.releaseType "ep" )}}success{{/if}}{{#if (eq album.releaseType "single" )}}primary{{/if}}"
                size="small" pill>
                {{ album.releaseType }}
            </sl-tag>
            {{/if}}
            <div class="inline-block mr-2 italic text-gray-500">{{ album.releaseDate }}</div>
            <sl-rating class="inline-block" max="10" precision=".5" value="{{ album.rating }}" readonly></sl-rating>
        </div>
        {{/if}}

        <div class="flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
            <div class="w-full flex flex-col gap-4">
                <div class="flex flex-wrap gap-4">

                    {{#if album.artwork}}
                    <img style="width: 100%; max-width: 500px;" height="500" width="500" src="{{ album.artwork }}" alt="Artwork" loading="lazy" />
                    {{/if}}

                    {{#if album.spotifyId}}
                    <div class="w-min">
                        <iframe height="500" width="500" frameBorder="0"
                            src="https://open.spotify.com/embed/album/{{ album.spotifyId }}" allowtransparency="true"
                            allow="encrypted-media" loading="lazy"></iframe>
                    </div>
                    {{/if}}
                </div>

                {{#if album.odesliLink}}
                <iframe height="52" width="500" src="https://embed.odesli.co/?url=https://album.link/s/{{ album.spotifyId }}"
                    frameborder="0" loading="lazy" allowtransparency allowfullscreen
                    sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox"></iframe>
                {{/if}}
            </div>
        </div>
    </div>


    {{!-- {{> pagination}} --}}
</div>